
<h2 class="welcome">Welcome to CSE Motors!</h2>
<%- messages() %>
<div class="hero-image">
    <img src="./images/vehicles/delorean.jpg" alt="DMC Delorean" width="100" loading="lazy" >
    <!-- <div></div> -->
    <div class="own-today">
        <h2>DMC Delorean</h2>
        <ul>
            <li>3 Cup Holders</li>
            <li>Superman Doors</li>
            <li>Fuzzy Dice!</li>
        </ul>
        <a href="">Own Today</a>
    </div>
</div>
<div class="delorean-upgrades">
    <div class="review">
        <h2>DMC Delorean Reiews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (1/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futurustic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>

    <div class="share">
        <h2>Delorean Upgrades</h2>
        <div class="images">
            <div class="fig">
                <div class="upgrade-img">
                    <img class="img1" src="./images/upgrades/flux-cap.png" alt="flux" loading="lazy">
                </div>
                <div class="figcaption"><a href="">Flux Capacitor</a></div>
            </div>
            
            <div class="fig">
                <div class="upgrade-img">
                    <img class="img2" src="./images/upgrades/flame.jpg" alt="flame" loading="lazy">
                </div>
                <div class="figcaption"><a href="">Flame Decals</a></div>
            </div>

            <div class="fig">
                <div class="upgrade-img">
                    <img class="img3" src="./images/upgrades/bumper_sticker.jpg" alt="bumper_sticker" loading="lazy">
                </div>
                <div class="figcaption"><a href="">Bumper Stickers</a></div>
            </div>

            <div class="fig">
                <div class="upgrade-img">
                    <img class="img4" src="./images/upgrades/hub-cap.jpg" alt="hub" loading="lazy">
                </div>
                <div class="figcaption"><a href="">Hub Caps</a></div>
            </div>
        </div>


    </div>
</div>