@media  (min-width: 768px){
  /* body{
    background-image:url("../images/site/checkerboard.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

  } */
 
 .hero-image{
   width: 90%;
   margin-left: 5%;
   position: relative;
   margin-bottom: 150px;
 }

 .own-today{
  top: 120px;
  left: 0px;
 }
 
 .delorean-upgrades{
  display: flex;
  flex-direction: row-reverse;
  /* border: 1px solid; */
  gap: 40px;
 }
 .review{
  width: 50%;
 }
 .share{
  width: 50%;
 }
 /* .share .images{
  padding: 0 20px;
 } */
 .review ul{
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  gap: 40px;
 }
}
  
