@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --nav-bg: rgb(0, 0, 0);
  --card-bg: rgb(75, 173, 238);
  --own-today-bg: rgba(255, 255, 255, 0.8);
  --own-today-text: rgb(0, 122, 204);
}


/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 20px;
}
header a{
  text-decoration: none;
}
header span{
  font-size: 30px;
}
nav{
  width: 100%;
  border: 1px solid;
  /* padding:5px 20px; */
  background-color: var(--nav-bg);
  /* padding-top: 5px; */
  padding: 0;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav ul{
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  color: white;
  height: 40px;
  /* border: 1px solid; */
  align-items: center;

}
nav ul li a{
  color: white;
  text-decoration: none;
}
.welcome{
  margin-bottom: 0;
}
.hero-image{
  /* border: 1px solid; */
  width: 96%;
  margin-left: 2%;
  margin-bottom: 60px;
  position: relative;
  margin-top: 0;
}
.hero-image img{
  width: 100%;
  height: auto;
}
.own-today{
  background-color: var(--own-today-bg);
  position: absolute;
  /* border: 1px solid; */
  top: 70px;
  color: var(--own-today-text);
}
.own-today h2{
  margin-bottom: 0;
 
}
span a{
  font-family: "Arimo", sans-serif;
  font-weight: 900;
}
h2{
   font-family: "Roboto", sans-serif;
}
.own-today ul{
  /* border: 1px solid; */
  padding: 0;
  margin-top: 10px;
}

.own-today ul li{
  list-style-type: none;
  font-weight: 900;
}
.own-today a{
  display: block;
  height: 40px;
  background-color: var(--card-bg);
  width: 70%;
  color: black;
  font-size: 20px;
  text-decoration: none;
  line-height: 20px;
  padding-top: 10px;
  text-align: center;
}
.delorean-upgrades{
  display: flex;
  flex-direction: column;
}
.review{
  width: 100%;
}
.review ul li{
  /* border: 1px solid; */
  margin-left: -20px;
}
.review ul li{
  list-style-type: disc;
}
.delorean-upgrades div.share{
  display: grid;
  grid-template-columns: 1fr;
}


.delorean-upgrades div.images{
  width: 100%;
  /* margin-left: 10%; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  align-items: center;
  /* border: 1px solid; */


}

.fig{
  display: flex;
  flex-direction: column;
}


.upgrade-img{
  padding: 30px;
  width: 100%;
  /* padding: 20px; */
  height: 100px;
  /* border: 1px solid red; */
  background-color: var(--card-bg);
  display: flex;
  flex-direction: row;
  justify-content:space-around ;
}

/* .fig{
  display: flex;
  flex-direction: column;
} */
.figcaption{
  text-align: center;
}
footer{
  margin-top: 50px;
}

#inv-display{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  /* border: 2px solid black; */
  margin: 0;
  padding: 0;

}
#inv-display li{
  width: 300px;
  border: 2px solid rgba(0, 0, 0, 0.253);
  list-style-type: none;
  box-shadow: 2px 5px 3px rgba(88, 88, 88, 0.548);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;

}
#inv-display li img, #inv-display li a, #inv-display li hr, #inv-display li div{
  display: block;
  width: 90%;
  margin-left: 5%;
  text-align: center;
}
#vehicle-display .content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-items: center;
  width: 90%;
  margin-left: 5%;
  box-shadow: 2px 3px 23px rgb(151, 151, 151);
  /* background-color: red; */
}
#vehicle-display div .imagePrice, .vehicleDetail{
  width: 100%;
  box-shadow: 2px 3px 23px rgb(151, 151, 151);
}
#vehicle-display div .imagePrice img {
  width: 100%;
}

#vehicle-display div .vehicleDetail{
  padding: 20px;
}

#vehicle-display div .imagePrice, .vehicleDetail ul{
  display: flex;
  gap: 5px;
  flex-direction: column;
}
#vehicle-display div .vehicleDetail ul li{
  list-style-type: none;
}
#vehicle-display div .vehicleDetail ul li .pric, .miles, .color, .desc{
  display: flex;
  align-items: center;
  gap: 5px;
}

.desc{
  display: flex;
  align-items:first baseline;
}
#vehicle-display div .imagePrice, .vehicleDetail{
  width: 100%;
}

.notice{
  color: red;
}

.login-form{
  display: flex;
  flex-direction: column;
  background-color: rgba(2, 2, 53, 0.719);
  padding: 30px;
  width: 90%;
  margin: auto;
}
label{
  color: white;
}

.input{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: center;

}
.input input{
  height: 35px;
  border-radius: 10px;
  text-align: center;
  color: white;

}
.button{
  height: 42px;
  width: 30%;
  margin: auto;
  border-radius: 10px;
  font-weight: 900;
}
.sign-up{
  width: 50%;
  margin: auto;
  font-size: 20px;
  text-align: center;
   margin-top: 10px;
   color: black;
}
.sign-up a{
  color: black;
}

.title{
  text-align: center;
  width: 100%;
}
#pswBtn{
  background-color: white;
  padding: 3px;
  width: 30%;
  text-align: center;
  border-radius: 3px;
}
input:required:invalid,input:focus:invalid, textarea:required:invalid, textarea:focus:invalid {
  background-color: rgba(252, 121, 121, 0.301);
}
input:required:valid, input:focus:valid, textarea:required:valid, textarea:focus:valid{
  background-color: rgba(0, 128, 0, 0.329);
}
.pwordReq{
  color: white;
  margin-bottom: 20px;
  text-align: center;
  /* margin-top: -15px; */

}

textarea{
 text-align: center;
 color: white;
}

textarea::placeholder, input::placeholder{
  color: rgba(255, 255, 255, 0.53);
}
select{
  height: 30px;
}

table{
  width: 96%;
  border-collapse: collapse;
}
tbody tr:nth-last-of-type(odd){
  background-color: aliceblue;
}

tbody tr{
  border-top: 2px solid rgba(0, 0, 0, 0.445);
  height: 50px;
}
thead tr{
  text-align: left;
}

.input input.delete{
  color: black;
}

.psword{
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 30px;
}