@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --nav-bg: rgb(0, 0, 0);
  --card-bg: rgb(75, 173, 238);
  --own-today-bg: rgba(255, 255, 255, 0.8);
  --text-2: #3A506B;
  --accent: #0076C5;
  --accent-2: #008476;
  --on-accent: #FFFFFF;
}


/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 20px;
}
header a{
  text-decoration: none;
}
header span{
  font-size: 30px;
}
nav{
  width: 100%;
  border: 1px solid;
  /* padding:5px 20px; */
  background-color: var(--nav-bg);
  /* padding-top: 5px; */
  padding: 0;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav ul{
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  color: white;
  height: 40px;
  /* border: 1px solid; */
  align-items: center;

}
.welcome{
  margin-bottom: 0;
}
.hero-image{
  /* border: 1px solid; */
  width: 96%;
  margin-left: 2%;
  margin-bottom: 60px;
  position: relative;
  margin-top: 0;
}
.hero-image img{
  width: 100%;
  height: auto;
}
.own-today{
  background-color: var(--own-today-bg);
  position: absolute;
  /* border: 1px solid; */
  top: 70px;
  color: rgb(0, 122, 204);
}
.own-today h2{
  margin-bottom: 0;
 
}
span a{
  font-family: "Arimo", sans-serif;
  font-weight: 900;
}
h2{
   font-family: "Roboto", sans-serif;
}
.own-today ul{
  /* border: 1px solid; */
  padding: 0;
  margin-top: 10px;
}

.own-today ul li{
  list-style-type: none;
  font-weight: 900;
}
.own-today a{
  display: block;
  height: 40px;
  background-color: var(--card-bg);
  width: 70%;
  color: black;
  font-size: 20px;
  text-decoration: none;
  line-height: 20px;
  padding-top: 10px;
  text-align: center;
}
.delorean-upgrades{
  display: flex;
  flex-direction: column;
}
.review{
  width: 100%;
}
.review ul li{
  /* border: 1px solid; */
  margin-left: -20px;
}
.review ul li{
  list-style-type: disc;
}
.delorean-upgrades div.share{
  display: grid;
  grid-template-columns: 1fr;
}


.delorean-upgrades div.images{
  width: 100%;
  /* margin-left: 10%; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  align-items: center;
  /* border: 1px solid; */


}

.fig{
  display: flex;
  flex-direction: column;
}


.upgrade-img{
  padding: 30px;
  width: 100%;
  padding: 20px;
  height: 100px;
  /* border: 1px solid red; */
  background-color: var(--card-bg);
  display: flex;
  flex-direction: row;
  justify-content:space-around ;
}

.fig{
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}
.figcaption{
  text-align: center;
}
footer{
  margin-top: 50px;
}