@media  (min-width: 1024px){
 .hero-image{
   width: 90%;
   margin-left: 5%;
   position: relative;
   margin-bottom: 150px;
 }

 .own-today{
  top: 200px;
  left: 40px;
 }
 
 .delorean-upgrades{
  display: flex;
  flex-direction: row-reverse;
  /* border: 1px solid; */
  gap: 40px;
 }
 .review{
  width: 50%;
 }
 .share{
  width: 50%;
 }
 /* .share .images{
  padding: 0 20px;
 } */
 .review ul{
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  gap: 40px;
 }
}
  
