<!-- The content Heading -->

<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- Massage block -->
 <%# messages() %>

 <!-- Inventory item Display -->
<% if(Object.entries(htmlData).length > 0){ %>
  
<%- htmlData %>
<%} else { %>
<p class="notice">Sorry, no matching vehicle could be found.</p>
  <%} %>

  <form action="/fav/add" method="POST" class="login-form">
  <input class="" type="hidden" name="inv_id" value="<%= inv_id %>">
  <button class="button" type="submit" class="favorite-btn">Add to Favorites</button>
</form>