<form action="/account/favorites/add" method="POST">
  <input type="hidden" name="inv_id" value="<%= inventory.inv_id %>">
  <button type="submit" class="favorite-btn">Add to Favorites</button>
</form>